.title {
}

.subtitle {
}

.meta {
  margin-block-start: 0.75rem;
  font-weight: lighter;

  .meta__module,
  .meta__header {
    color: var(--syntax-string);

    &::before {
      content: "Module:";
      color: var(--syntax-keyword);
      margin-inline-end: 0.5rem;
      font-weight: 700;
    }
  }

  .meta__header::before {
    content: "Header:";
  }

  .meta__include {
    color: var(--syntax-string);

    &::before {
      content: "#include <";
      color: var(--syntax-keyword);
      font-weight: 700;
    }

    &::after {
      content: ">";
      color: var(--syntax-keyword);
      font-weight: 700;
    }
  }
}

.doc {
  a {
    width: fit-content !important;
  }

  h3 {
  }

  ul > li {
    list-style: disc inside;
  }

  .body, .block {
    img {
      margin-inline: auto;
      border-radius: 0.5rem;
      overflow: hidden;
      object-fit: cover;
    }

    > p {
      margin-block-end: 0.75rem;
    }
  }

  .body {
    h2 {
      margin-block-start: 2rem;
      margin-block-end: 1rem;
      font-weight: 500;
    }
  }
}

.block {
  margin-block-start: 0.5rem;
  margin-block-end: 2rem;

  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  margin-inline-end: 2rem;
  font-size: 0.85em;
  gap: 0.5rem;

  .item {
    //color: var(--fg-subdued);
    color: var(--syntax-property);

    a:is(&):hover {
      color: var(--foreground);
    }
  }
}

.header {
  font-weight: 700;
}

.listMeta {
  display: flex;
  flex-direction: column;

}

.specifier {
  margin-block-end: 0.5rem;
  font-size: 1.5em;

  .span_begin, .span_end {
    font-size: 0.65em;
    color: var(--fg-subdued);
    margin-inline-end: 2rem;
  }

  .span_end {
    margin-inline-start: 2rem;
  }
}