@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

:root {
    --max-width: 1770px;
    --header-nav-height: 3.5rem;
    --orange: #ffca1d;
}

.dark {
    --background: #0f0f0fff;
    --foreground: white;
    --shadow-600: #0a0a0aff;
    --shadow-700: #0f0f1fff;
}

.light {
    --background: white;
    --foreground: black;
    --shadow-600: whitesmoke;
    --shadow-700: ghostwhite;
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--orange);
}

::selection {
    color: white;
    background: var(--orange);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    cursor: default;
}

p {
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.1;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: var(--foreground);
    background-color: var(--background);
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: inherit;
}

details * {
    user-select: none;
}

details summary {
    cursor: pointer;
    transform-origin: left;
    transition: scale 100ms ease-in-out;
}

details summary:is(:hover, :focus-visible) {
    scale: 1.1;
}

a {
    position: relative;
}

:target {
    scroll-margin-top: 7rem;
}
a[href^="#"]:hover::before {
    visibility: visible;
}

a[href^="#"]::before {
    position: absolute;
    content: "#";
    color: var(--orange);
    display: inline-block;
    visibility: hidden;
    font-size: 1.2em;
    left: -1em;
    text-decoration: none;
    width: 1em;
}

.no_hash[href^="#"]::before {
    content: unset;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    color: inherit;
    font: inherit;
    background-color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* End of reset */

.list {
    list-style-type: disc;
    list-style-position: inside;
}

.link {
    color: dodgerblue;
}

.commit_container {
    display: flex;
    margin-block: 2rem;
    flex-direction: column;
    gap: 0.75rem;
}

.commit {
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: 2rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    align-items: center;
    font-size: 0.883em;
    box-shadow: 0 0 10px hsl(0 0% 50% / 0.3);
    border-radius: 0.5rem;
}

.commit__message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hljs {
    border-radius: 0.5rem;
    margin-block: 0.5rem;
}

.task-list-item {
    list-style: none !important;
}

.footnotes li {
    list-style: decimal !important;
}

@media (max-width: 1000px) {
    .commit {
        font-size: clamp(0.5em, 5vw, 1em);
        grid-template-columns: 1fr;
    }
}
