.main {
    max-width: var(--max-width);
    margin-inline: auto;
}

.hero_container {
    min-height: 100dvh;
    display: grid;
    place-items: center;
    margin-block-end: 3rem;
}

.hero {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-inline: 4rem;
}

.hero > h1 {
    max-width: 25ch;
    font-size: 2em;
    text-align: right;
    justify-self: end;
}

.hero__right {
    margin-block-start: 0.4rem;
    max-width: 60ch;
}

.changes {
    display: grid;
    grid-column-gap: 1rem;
    margin-inline: 2rem;
    padding-inline: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.changes > h2 {
    grid-column: 1 / -1;
}


@media (max-width: 1442px) {
    .changes {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 680px) {
    .hero {
        grid-template-columns: 1fr;
        margin-inline: 2rem;
    }

    .hero > h1 {
        text-align: center;
    }

    .changes {
        margin-inline: 1rem;
        padding-inline: 1rem;
    }
}